{% extends 'tinder_app/base.html' %}



{% block content %}
{% if user.is_authenticated %}



	{% if created %}
	<br>
		<h3> Successfully Added! </h3>
		Go back to <a href="{% url 'home' %}">home page</a>.
		
	{% else %}
	<br>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<input type="submit" class="btn btn-primary" name="">
	</form>

    <script>
        var name = '{{ user.id }}';
        document.getElementById('admin').value = name;
    </script>
	{% endif %}



{% endif %}
{% endblock %}