{% extends 'tinder_app/base.html' %}


{% block content %}
{% if user.is_authenticated %}

<br>
<div class="container-fluid">
  <form method="POST" class="d-flex" action="{% url 'search' %}">
  	{% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Polje Za Pretragu" aria-label="Search" name="search">
    <button class="btn btn-primary text-light" type="submit"> Pretrazi </button>
  </form>
</div>
<br>

<center>
	<div class="card-body">
		<div class="card" style="width:400px">

		{% for dog in dogs %}

		<img src="{{ dog.image.url }}">
		<ul>
		    <h4 class="card-title"> Rasa: {{ dog.breed }}</h4>
		    <p class="card-text"> Godiste: {{ dog.birthYear }}</p>
		    <p class="card-text"> Postavljen: {{ dog.date.date }}</p>
	    </ul>
	    <a href="{% url 'details' dog.pk %}" class="btn btn-primary"> Detaljnije </a>

		{% endfor %}

		</div>
	</div>
</center>
	
{% endif %}
{% endblock %} 

